In [2]:
import pandas as pd
import numpy as np

In [106]:
dfc = pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_calibrated_sm_hv_publicdata.csv')

In [107]:
print(list(dfc))

['Unnamed: 0', 'Unnamed: 0.1', 'Sim', 'Team', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'ADX', 'Buf', 'PO3', 'PO3_OPM', 'Tsim', 'Pair', 'IM', 'I_OPM_kom', 'I_OPM_jma', 'PFcor', 'TPext', 'Tpump_cor', 'unc_Tpump_cor', 'unc_Tpump', 'Tpump_cor.1', 'unc_Tpump_cor.1', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'I_slow_conv_ib1_decay', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_ib1_decay', 'Ifast_minib0', 'Ifast_minib0_ib1_decay', 'Islow_conv', 'Ifast_deconv_ib1_decay', 'Ifast_minib0_deconv_sm10', 'Year', 'Unnamed: 0.1.1', 'index', 'Tact', 'Tair', 'Tinlet', 'TPint', 'I_Pump', 'VMRO3', 'VMRO3_OPM', 'ADif_PO3S', 'RDif_PO3S', 'Z', 'Header_Team', 'Header_Sim', 'Header_PFunc', 'Header_PFcor', 'Header_IB1', 'Simulator_RunNr', 'Date', 'Ini_Prep_Date', 'Prep_SOP', 'SerialNr', 'SerNr', 'Date_1', 'SondeAge', 'Solutions', 'Volume_Cathode', 'ByPass_Cell', 'Current_10min_after_noO3', 'Resp_Time_4_1p5_sec', 'RespTime_1minOver2min', 'Final_BG', 'T100', 'mlOvermin', 'T100_post', 'mlOverminp1', 'RespTime_4_1p5_sec_p1', 'RespTime_1minOver2min_microamps', 'PostTestSolution_Lost_gr', 'PumpMotorCurrent', 'PumpMotorCurrent_Post', 'PF_Unc', 'PF_Cor', 'BG', 'plog', 'Tcell', 'TcellC', 'Pw', 'massloss', 'Tboil', 'total_massloss', 'I_conv_slow', 'I_conv_slow_komhyr', 'IMminusIB0', 'tmp', 'IM_gsm', 'IMminusIB0_gsm', 'Islow', 'Ifast', 'Ifast_deconv', 'ADif', 'RDif', 'ADif_cor', 'RDif_cor', 'PO3_cor', 'ADif_pre', 'RDif_pre', 'ADif_pre_cor', 'RDif_pre_cor', 'IminusiB1', 'R', 'I_corrected', 'ADif_cal', 'RDif_cal']

In [109]:
dfc[['Tsim']]

          Tsim
0         56.0
1         72.0
2         74.0
3         76.0
4         80.0
...        ...
283606  8092.0
283607  8094.0
283608  8096.0
283609  8098.0
283610  8100.0

[283611 rows x 1 columns]

In [103]:
df09c = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/"
                    f"Josie0910_deconv_2023_unitedpaper_sm_hv.csv",low_memory=False)

In [104]:
print(list(df09c))

['Unnamed: 0', 'Sim', 'Team', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'ADX', 'Buf', 'PO3', 'PO3_OPM', 'Tsim', 'Pair', 'IM', 'I_OPM_kom', 'I_OPM_jma', 'PFcor', 'TPext', 'Tpump_cor', 'unc_Tpump_cor', 'unc_Tpump', 'Tpump_cor.1', 'unc_Tpump_cor.1', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'I_slow_conv_ib1_decay', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_ib1_decay', 'Ifast_minib0', 'Ifast_minib0_ib1_decay', 'Islow_conv', 'Ifast_deconv_ib1_decay']

In [105]:
df09c[['Tsim']]

           Tsim
0           0.0
1           2.0
2           4.0
3           6.0
4           8.0
...         ...
489652  10990.0
489653  10992.0
489654  10994.0
489655  10996.0
489656  10998.0

[489657 rows x 1 columns]

In [101]:
dfc[['Tsim','Tsim_original']]

KeyError: "['Tsim_original'] not in index"

In [83]:
dfca = pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_calibrated_sm_hv_all.csv')

In [84]:
print(list(dfca))

['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'index', 'Tact', 'Tsys', 'Sim', 'TimeBool', 'TimeTag', 'IM', 'Team', 'I_OPM_kom', 'I_OPM_jma', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'Buf', 'ADX', 'Tsim', 'Pair', 'TPext', 'PFcor', 'PO3', 'PO3_OPM', 'Year', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'Time_ts', 'Time_all', 'Tsim_original', 'Tsim_pctime', 'PF', 'TS', 'IMminusIB0', 'Tsim_min', 'decay_time', 'tmp', 'IM_gsm', 'IMminusIB0_gsm', 'i_at_timeib1', 'time_ib1', 'start_flight', 'I_slow', 'I_slow_conv', 'I_fast', 'Ifast_minib0', 'Ifast_deconv', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_sm10', 'I_slow_conv_ib1_decay_all', 'I_fast_ib1_decay_all', 'Ifast_minib0_ib1_decay_all', 'Ifast_deconv_ib1_decay_all', 'Ifast_minib0_deconv_ib1_decay_all', 'IminusiB1', 'R', 'I_corrected']

In [93]:
dfca[dfca.Sim==167][['Sim','Team','Tsim','Tsim_original','TimeTag', 'Pair','PO3_OPM','IM','I_corrected','Ifast_minib0_deconv_sm10','Ifast_minib0_deconv_ib1_decay_all','decay_time','TPext', 'Tpump_cor']]

,Sim,Team,Tsim,Tsim_original,TimeTag,Pair,PO3_OPM,IM,I_corrected,Ifast_minib0_deconv_sm10,Ifast_minib0_deconv_ib1_decay_all,decay_time,TPext,Tpump_cor
6468,167,1,0.0,NaN,Prep,NaN,NaN,0.017094,NaN,0.000000,0.000000,572.0,NaN,NaN
6469,167,1,3.0,NaN,Prep,NaN,NaN,0.017094,NaN,-0.001533,-0.001533,572.0,NaN,NaN
6470,167,1,6.0,NaN,Prep,NaN,NaN,0.017094,NaN,-0.003539,-0.003539,572.0,NaN,NaN
6471,167,1,8.0,NaN,Prep,NaN,NaN,0.017094,NaN,-0.005568,-0.005568,572.0,NaN,NaN
6472,167,1,11.0,NaN,Prep,NaN,NaN,0.014652,NaN,-0.006987,-0.006987,572.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620636,167,4,14672.0,12526.0,Sim,999.999,-100.2177,0.000000,-0.010581,-0.010777,-0.010777,757.0,273.15,274.65
620637,167,4,14674.0,12528.0,Sim,999.999,-100.2177,0.000000,-0.010579,-0.010776,-0.010776,757.0,273.15,274.65
620638,167,4,14676.0,12530.0,Sim,999.999,-100.2177,0.000000,-0.010577,-0.010774,-0.010774,757.0,273.15,274.65
620639,167,4,14678.0,12532.0,Sim,999.999,-100.2177,0.000000,-0.010575,-0.010772,-0.010772,757.0,273.15,274.65
620640,167,4,14680.0,12534.0,Sim,999.999,-100.2177,0.000000,-0.010574,-0.010770,-0.010770,757.0,273.15,274.65

In [64]:
dfc= pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_calibrated_sm_hv.csv')

In [ ]:
dfc= pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_calibrated_sm_hv.csv')

In [70]:
dfu = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/"
                    f"Josie0910_deconv_2023_unitedpaper_sm_hv.csv",low_memory=False)

In [68]:
dfu2 = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/"
                    f"Josie0910_deconv_2023_unitedpaper_sm_hv_test.csv",low_memory=False)

In [71]:
len(dfu.drop_duplicates(['Sim','Team'])), len(dfu2.drop_duplicates(['Sim','Team'])), 


# len(dfc.drop_duplicates(['Sim','Team'])),len(dfp.drop_duplicates(['Sim','Team'])), len(dfs.drop_duplicates(['Sim','Team']))

(86, 86)

In [74]:
df1 = pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_preparationadded_2023paper.csv')
len(df1.drop_duplicates(['Sim','Team']))

80

In [60]:
df = pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_Deconv_preparationadded_all_2023paper_sm_hv_paper.csv')

82

In [76]:
dfp = pd.read_csv("/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_Deconv_preparationadded_all_2023paper_sm_hv_paper.csv")

In [77]:
print(list(dfp))

['Unnamed: 0', 'Unnamed: 0.1', 'index', 'Tact', 'Tsys', 'Sim', 'TimeBool', 'TimeTag', 'IM', 'Team', 'I_OPM_kom', 'I_OPM_jma', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'Buf', 'ADX', 'Tsim', 'Pair', 'TPext', 'PFcor', 'PO3', 'PO3_OPM', 'Year', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'Time_ts', 'Time_all', 'Tsim_original', 'Tsim_pctime', 'PF', 'TS', 'IMminusIB0', 'Tsim_min', 'decay_time', 'tmp', 'IM_gsm', 'IMminusIB0_gsm', 'i_at_timeib1', 'time_ib1', 'start_flight', 'I_slow', 'I_slow_conv', 'I_fast', 'Ifast_minib0', 'Ifast_deconv', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_sm10', 'I_slow_conv_ib1_decay_all', 'I_fast_ib1_decay_all', 'Ifast_minib0_ib1_decay_all', 'Ifast_deconv_ib1_decay_all', 'Ifast_minib0_deconv_ib1_decay_all']

In [82]:
dfp[(dfp.Sim ==140) & (dfp.Team==1)][['Tsim','Tsim_original','IM','Ifast_minib0_deconv_ib1_decay_all','TimeTag']]

,Tsim,Tsim_original,IM,Ifast_minib0_deconv_ib1_decay_all,TimeTag
136387,0.0,NaN,0.012210,0.000000,Prep
136388,3.0,NaN,0.012210,-0.007531,Prep
136389,6.0,NaN,0.012210,-0.007805,Prep
136390,8.0,NaN,0.012210,-0.008287,Prep
136391,11.0,NaN,0.014652,-0.008476,Prep
...,...,...,...,...,...
153417,34371.0,11334.0,0.297110,0.183498,Sim
153418,34373.0,11336.0,0.295482,0.189262,Sim
153419,34375.0,11338.0,0.293040,0.195314,Sim
153420,34377.0,11340.0,0.283272,0.201139,Sim
153421,34379.0,11342.0,0.282458,0.206246,Sim

In [81]:
dfs[(dfs.Sim ==140) & (dfs.Team==1) & (dfs.Tsim_original>=0)][['Tsim','Tsim_original','Pair','Ifast_minib0_deconv_ib1_decay']]

           Tsim  Tsim_original     Pair  Ifast_minib0_deconv_ib1_decay
103493  23039.0            0.0  997.315                       0.000000
103494  23041.0            2.0  999.328                      -0.002904
103495  23043.0            4.0  998.657                      -0.002886
103496  23045.0            6.0  997.986                      -0.002854
103497  23047.0            8.0  999.999                      -0.002781
...         ...            ...      ...                            ...
109160  34371.0        11334.0  995.362                       0.183496
109161  34373.0        11336.0  995.362                       0.189261
109162  34375.0        11338.0  995.362                       0.195312
109163  34377.0        11340.0  995.362                       0.201138
109164  34379.0        11342.0  995.362                       0.206245

[5672 rows x 4 columns]

In [75]:
len(dfp.drop_duplicates(['Sim','Team'])),len(dfs.drop_duplicates(['Sim','Team']))

(78, 78)

In [41]:
print(list(dfp))

['Unnamed: 0', 'Unnamed: 0.1', 'index', 'Tact', 'Tsys', 'Sim', 'TimeBool', 'TimeTag', 'IM', 'Team', 'I_OPM_kom', 'I_OPM_jma', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'Buf', 'ADX', 'Tsim', 'Pair', 'TPext', 'PFcor', 'PO3', 'PO3_OPM', 'Year', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'Time_ts', 'Time_all', 'Tsim_original', 'Tsim_pctime', 'PF', 'TS', 'IMminusIB0', 'Tsim_min', 'decay_time', 'tmp', 'IM_gsm', 'IMminusIB0_gsm', 'i_at_timeib1', 'time_ib1', 'start_flight', 'I_slow', 'I_slow_conv', 'I_fast', 'Ifast_minib0', 'Ifast_deconv', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_sm10', 'I_slow_conv_ib1_decay_all', 'I_fast_ib1_decay_all', 'Ifast_minib0_ib1_decay_all', 'Ifast_deconv_ib1_decay_all', 'Ifast_minib0_deconv_ib1_decay_all']

In [54]:
dfp[(dfp.Sim ==138) & (dfp.Team==3) & (dfp.Tsim>=3740)][['Tsim','Tsim_original','Pair','IM','Ifast_minib0_deconv_ib1_decay_all']]

,Tsim,Tsim_original,Pair,IM,Ifast_minib0_deconv_ib1_decay_all
395211,3740.0,NaN,NaN,0.000000,-0.011253
395212,3742.0,NaN,NaN,0.000000,0.004207
395213,3744.0,NaN,NaN,0.000000,0.020169
395214,3746.0,NaN,NaN,0.000000,0.032800
395215,3747.0,0.0,995.118,0.031746,0.038172
...,...,...,...,...,...
400676,14667.0,10922.0,999.999,0.053724,-0.238185
400677,14669.0,10924.0,999.999,0.048840,-0.179328
400678,14671.0,10926.0,999.999,0.048840,-0.123464
400679,14673.0,10928.0,999.999,0.048840,-0.082727
400680,14675.0,10930.0,999.999,0.046398,-0.058236

In [49]:
dfs = pd.read_csv("/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_Deconv_preparationadded_simulation_2023paper_sm_hv_paper.csv")

In [50]:
print(list(dfs))

['Unnamed: 0', 'Unnamed: 0.1', 'index', 'Tact', 'Tsys', 'Sim', 'TimeBool', 'TimeTag', 'IM', 'Team', 'I_OPM_kom', 'I_OPM_jma', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'Buf', 'ADX', 'Tsim', 'Pair', 'TPext', 'PFcor', 'PO3', 'PO3_OPM', 'Year', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'Time_ts', 'Time_all', 'Tsim_original', 'Tsim_pctime', 'PF', 'TS', 'IMminusIB0', 'tmp', 'IM_gsm', 'IMminusIB0_gsm', 'i_at_timeib1', 'time_ib1', 'decay_time', 'start_flight', 'I_slowo', 'I_slow_convo', 'I_fasto', 'Ifast_minib0o', 'Ifast_deconvo', 'Ifast_minib0_deconvo', 'Ifast_minib0_deconv_sm10', 'I_slow_ib1_decay', 'I_slow_conv_ib1_decay', 'I_fast_ib1_decay', 'Ifast_minib0_ib1_decay', 'Ifast_deconv_ib1_decay', 'Ifast_minib0_deconv_ib1_decay', 'Ifast_minib0_deconv_ib1_decay_sm10', 'I_slow_ib1_test', 'I_slow_conv_ib1_test', 'I_fast_ib1_test', 'Ifast_minib0_ib1_test', 'Ifast_deconv_ib1_test', 'Ifast_minib0_deconv_ib1_test']

           Tsim  Tsim_original     Pair  Ifast_minib0_deconv_ib1_decay
286771   3747.0            0.0  995.118                       0.000000
286772   3749.0            2.0  995.118                      -0.004804
286773   3751.0            4.0  995.118                      -0.005488
286774   3753.0            6.0  995.118                      -0.006474
286775   3755.0            8.0  995.327                      -0.007451
...         ...            ...      ...                            ...
292232  14667.0        10922.0  999.999                      -0.238162
292233  14669.0        10924.0  999.999                      -0.179306
292234  14671.0        10926.0  999.999                      -0.123441
292235  14673.0        10928.0  999.999                      -0.082704
292236  14675.0        10930.0  999.999                      -0.058213

[5466 rows x 4 columns]

In [33]:
year = '2010'

# Read the metadata and data files
dfm = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Josie{year[2:4]}_MetaData.csv")
dfm_ib = pd.read_excel(f"/home/poyraden/Analysis/JOSIEfiles/ib_{year}.xlsx")
dfm_m = pd.read_excel(f"/home/poyraden/Analysis/JOSIEfiles/{year}_mass.xlsx")

In [34]:
print(list(dfm))

['Year', 'Sim', 'Team', 'Code', 'Flow', 'IB1', 'Cor', 'ENSCI', 'Sol', 'Buf', 'ADX']

In [35]:
print(list(dfm_ib))

['Sim', 'Team', 'Year', 'iB0', 'iB1', 'iB2']

In [36]:
print(list(dfm_m))

['Sim', 'Team', 'Mspre', 'MSpost', 'Diff']

In [39]:
dfm_m

    Sim  Team   Mspre  MSpost   Diff
0   150     1  215.08  212.63   2.45
1   150     2  215.53  213.02   2.51
2   150     3  265.06  203.67  61.39
3   150     4  203.74  202.65   1.09
4   151     1  216.14  213.51   2.63
5   151     2  214.97  212.12   2.85
6   151     3  203.89  202.66   1.23
7   151     4  196.26  194.87   1.39
8   158     1  629.68  628.00   1.68
9   158     2    0.00    0.00   0.00
10  158     3  622.55  621.29   1.26
11  158     4  612.66  611.43   1.23
12  159     1  630.35  628.36   1.99
13  159     2  629.85  627.97   1.88
14  159     3  621.97  620.89   1.08
15  159     4  619.53  618.36   1.17
16  160     1  631.00  628.66   2.34
17  160     2  628.60  627.62   0.98
18  160     3  621.55  620.54   1.01
19  160     4  633.96  632.96   1.00
20  161     1  629.64  627.82   1.82
21  161     2  629.66  627.68   1.98
22  161     3    0.00    0.00   0.00
23  161     4  611.91  610.97   0.94
24  162     1  628.83  627.16   1.67
25  162     2  628.95  627.12   1.83
26  162     3  620.94  620.09   0.85
27  162     4  611.38  610.55   0.83
28  163     1  629.80  627.33   2.47
29  163     2  629.65  627.45   2.20
30  163     3  632.57  630.18   2.39
31  163     4  633.32  631.10   2.22
32  164     1  620.62  619.81   0.81
33  164     2  616.31  615.47   0.84
34  164     3  621.06  620.10   0.96
35  164     4  611.79  610.90   0.89
36  165     1  630.77  628.42   2.35
37  165     2  629.67  627.62   2.05
38  165     3  631.64  629.87   1.77
39  165     4  633.12  630.47   2.65
40  166     1  628.69  626.39   2.30
41  166     2  628.48  626.53   1.95
42  166     3  613.10  611.92   1.18
43  166     4  613.24  612.19   1.05
44  167     1  610.57  609.91   0.66
45  167     2  617.87  617.23   0.64
46  167     3  612.25  611.48   0.77
47  167     4  634.30  633.00   1.30
48  168     1  631.70  629.54   2.16
49  168     2  617.03  616.30   0.73
50  168     3  619.59  618.85   0.74
51  168     4  634.68  633.32   1.36

In [37]:
dff = pd.read_csv("/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_Data_2023paper.csv")

/home/poyraden/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [38]:
print(list(dff))

['Unnamed: 0', 'Unnamed: 0.1', 'Tact', 'Tsim', 'Pair', 'Tair', 'Tinlet', 'IM', 'TPint', 'TPext', 'PFcor', 'I_Pump', 'PO3', 'VMRO3', 'PO3_OPM', 'VMRO3_OPM', 'ADif_PO3S', 'RDif_PO3S', 'Z', 'Header_Team', 'Header_Sim', 'Header_PFunc', 'Header_PFcor', 'Header_IB1', 'Year', 'Sim', 'Team', 'Code', 'Flow', 'IB1', 'Cor', 'ENSCI', 'Sol', 'Buf', 'ADX', 'Simib', 'Teamib', 'Yearib', 'iB0', 'iB1', 'iB2', 'Simm', 'Teamm', 'Mspre', 'Mspost', 'Diff', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'I_OPM_jma', 'I_OPM_kom', 'PO3_calc', 'PO3_dqa', 'I_conv_slow', 'I_conv_slow_komhyr']

In [26]:
dfa = pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie9602_Data_2023.csv')

In [28]:
print(list(dfa))

['Unnamed: 0', 'Unnamed: 0.1', 'RecNr', 'Time', 'Tsim', 'Pair', 'Tair', 'Temp_TMC_Ist_1', 'Altitude', 'PO3_OPM', 'I_Sonde', 'T_Sonde', 'PO3_Sonde_raw', 'PO3_Sonde_Corr', 'PO3_Sonde_TCO3', 'O3_Col_corr', 'O3_Col_OPM', 'Valid', 'Sim', 'Team', 'PF_min', 'iB', 'TOCS', 'TOCO', 'PF', 'PFcor', 'TPext', 'IM', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Sol', 'Buf', 'ENSCI', 'iB0', 'iB1', 'ib1-ib0', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'I_OPM_jma', 'I_OPM_kom', 'PO3_calc', 'PO3_dqa', 'JOSIE_Nr', 'PO3', 'TPint', 'I_conv_slow', 'R1_Tstart', 'R1_Tstop', 'R2_Tstart', 'R2_Tstop', 'SST_Nr', 'SondeTypeNr']

In [29]:
dfa[(dfa.Sim==89) & (dfa.Team==3)][['Pair','Tair','Temp_TMC_Ist_1','T_Sonde']]

             Pair  Tair  Temp_TMC_Ist_1  T_Sonde
108386  997.86000   NaN             NaN      NaN
108387  997.08300   NaN             NaN      NaN
108388  996.30500   NaN             NaN      NaN
108389  995.52700   NaN             NaN      NaN
108390  994.75000   NaN             NaN      NaN
...           ...   ...             ...      ...
111251    6.31644   NaN             NaN      NaN
111252    6.31763   NaN             NaN      NaN
111253    6.31881   NaN             NaN      NaN
111254    6.31990   NaN             NaN      NaN
111255    6.31990   NaN             NaN      NaN

[2870 rows x 4 columns]

In [16]:
df96 = pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie1996_Data_2023.csv')

In [18]:
print(list(df96))

['Unnamed: 0', 'RecNr', 'Time', 'Tsim', 'Pair', 'Tair', 'Temp_TMC_Ist_1', 'Altitude', 'PO3_OPM', 'I_Sonde', 'T_Sonde', 'PO3_Sonde_raw', 'PO3_Sonde_Corr', 'PO3_Sonde_TCO3', 'O3_Col_corr', 'O3_Col_OPM', 'Valid', 'Sim', 'Team', 'PF_min', 'iB', 'TOCS', 'TOCO', 'PF', 'PFcor', 'TPext', 'IM', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Sol', 'Buf', 'ENSCI', 'iB0', 'iB1', 'ib1-ib0', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'I_OPM_jma', 'I_OPM_kom', 'PO3_calc', 'PO3_dqa']

In [25]:
df96[['Pair','Tair']]

          Pair     Tair
0      1013.15  299.620
1      1011.25  300.490
2      1008.42  301.575
3      1005.65  302.167
4      1002.80  302.590
...        ...      ...
28073      NaN      NaN
28074      NaN      NaN
28075      NaN      NaN
28076      NaN      NaN
28077      NaN      NaN

[28078 rows x 2 columns]

In [22]:
df96[[ 'Sim', 'Team']].max(), df96[[ 'Sim', 'Team']].min()

(Sim     36.0
 Team     6.0
 dtype: float64,
 Sim     25.0
 Team     3.0
 dtype: float64)

In [23]:
df98 = pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie1998_Data_2023.csv')

In [24]:
df98[[ 'Sim', 'Team']].max(), df98[[ 'Sim', 'Team']].min()

(Sim     57
 Team    26
 dtype: int64,
 Sim     51
 Team     1
 dtype: int64)

In [30]:
df20 = pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie2000_Data_2023.csv')

In [31]:
df20[[ 'Sim', 'Team']].max(), df20[[ 'Sim', 'Team']].min()

(Sim     102
 Team      7
 dtype: int64,
 Sim     89
 Team     1
 dtype: int64)

In [94]:
df22 = pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie2002_Data_2023.csv')

In [95]:
df22[[ 'Sim', 'Team']].max(), df20[[ 'Sim', 'Team']].min()

(Sim     114
 Team      4
 dtype: int64,
 Sim     89
 Team     1
 dtype: int64)

In [32]:
dfmeta = pd.read_excel("/home/poyraden/Analysis/JOSIEfiles/JOSIE-96-02/Josie_2000_metadata.xls")
dfmeta

,JOSIE_Nr,Sim_Nr,R1_Tstart,R1_Tstop,R2_Tstart,R2_Tstop,GAW_Report_Nr_Details,Part_Nr,SondeTypeNr,SST_Nr,Data_FIleName
0,2000,89,960,1170,3240,3420,158_Figure_Page_101,1,1,3,SI089A12.DS0
1,2000,89,960,1170,3240,3420,158_Figure_Page_101,2,1,3,SI089A22.DS0
2,2000,89,960,1170,3240,3420,158_Figure_Page_101,3,2,2,SI089A32.DS0
3,2000,89,960,1170,3240,3420,158_Figure_Page_101,4,1,2,SI089A42.DS0
4,2000,90,860,1140,3250,3400,158_Figure_Page_101,1,2,3,SI090A12.DS0
5,2000,90,860,1140,3250,3400,158_Figure_Page_101,2,1,3,SI090A22.DS0
6,2000,90,860,1140,3250,3400,158_Figure_Page_101,3,2,2,SI090A32.DS0
7,2000,90,860,1140,3250,3400,158_Figure_Page_101,4,1,2,SI090A42.DS0
8,2000,91,925,1100,4060,4235,158_Figure_Page_102,1,1,3,SI091A12.DS0
9,2000,91,925,1100,4060,4235,158_Figure_Page_102,2,1,3,SI091A22.DS0
10,2000,91,925,1100,4060,4235,158_Figure_Page_102,3,2,2,SI091A32.DS0
11,2000,91,925,1100,4060,4235,158_Figure_Page_102,4,1,2,SI091A42.DS0
12,2000,92,1030,1210,4040,4215,158_Figure_Page_102,1,2,3,SI092A12.DS0
13,2000,92,1030,1210,4040,4215,158_Figure_Page_102,2,1,3,SI092A22.DS0
14,2000,92,1030,1210,4040,4215,158_Figure_Page_102,3,2,2,SI092A32.DS0
15,2000,92,1030,1210,4040,4215,158_Figure_Page_102,4,1,2,SI092A42.DS0
16,2000,96,1290,1525,3390,3540,158_Figure_Page_103,5,1,1,SI096A52.DS0
17,2000,96,1290,1525,3390,3540,158_Figure_Page_103,6,2,1,SI096A62.DS0
18,2000,96,1290,1525,3390,3540,158_Figure_Page_103,7,2,3,SI096A72.DS0
19,2000,97,-1,-1,3360,3700,158_Figure_Page_103,5,1,1,SI097A52.DS0
20,2000,97,-1,-1,3360,3700,158_Figure_Page_103,6,2,1,SI097A62.DS0
21,2000,97,-1,-1,3360,3700,158_Figure_Page_103,7,2,3,SI097A72.DS0
22,2000,98,1230,1435,4100,4260,158_Figure_Page_104,5,1,1,SI098A52.DS0
23,2000,98,1230,1435,4100,4260,158_Figure_Page_104,6,2,1,SI098A62.DS0
24,2000,98,1230,1435,4100,4260,158_Figure_Page_104,7,2,2,SI098A72.DS0
25,2000,99,1280,1440,4280,4440,158_Figure_Page_104,5,1,1,SI099A52.DS0
26,2000,99,1280,1440,4280,4440,158_Figure_Page_104,6,2,1,SI099A62.DS0
27,2000,99,1280,1440,4280,4440,158_Figure_Page_104,7,2,2,SI099A72.DS0
28,2000,100,1225,1390,3650,3805,158_Figure_Page_105,5,1,1,SI100A52.DS0
29,2000,100,1225,1390,3650,3805,158_Figure_Page_105,6,2,1,SI100A62.DS0
30,2000,100,1225,1390,3650,3805,158_Figure_Page_105,7,2,2,SI100A72.DS0
31,2000,102,1220,1380,3650,3810,158_Figure_Page_105,5,1,1,SI102A52.DS0
32,2000,102,1220,1380,3650,3810,158_Figure_Page_105,6,2,1,SI102A62.DS0
33,2000,102,1220,1380,3650,3810,158_Figure_Page_105,7,2,3,SI102A72.DS0

In [19]:
dfc = pd.read_csv(f'/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie9602_calibrated_sm_hv.csv')

In [20]:
print(list(dfc))

['Unnamed: 0', 'Unnamed: 0.2', 'index', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'RecNr', 'Time', 'Tsim', 'Pair', 'Tair', 'Temp_TMC_Ist_1', 'Altitude', 'PO3_OPM', 'I_Sonde', 'T_Sonde', 'PO3_Sonde_raw', 'PO3_Sonde_Corr', 'PO3_Sonde_TCO3', 'O3_Col_corr', 'O3_Col_OPM', 'Valid', 'Sim', 'Team', 'PF_min', 'iB', 'TOCS', 'TOCO', 'PF', 'PFcor', 'TPext', 'IM', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Sol', 'Buf', 'ENSCI', 'iB0', 'iB1', 'ib1-ib0', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'I_OPM_jma', 'I_OPM_kom', 'PO3_calc', 'PO3_dqa', 'JOSIE_Nr', 'PO3', 'TPint', 'I_conv_slow', 'R1_Tstart', 'R1_Tstop', 'R2_Tstart', 'R2_Tstop', 'SST_Nr', 'SondeTypeNr', 'IMminusIB0', 'tmp', 'IM_gsm', 'IMminusIB0_gsm', 'Islow', 'Islow_conv', 'Ifast', 'Ifast_minib0', 'Ifast_deconv', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_sm10', 'Year', 'IminusiB1', 'R', 'I_corrected', 'ADif', 'RDif', 'ADif_cor', 'RDif_cor', 'ADif_cal', 'RDif_cal']

In [6]:
df = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_Data_2023paper.csv")

/home/poyraden/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
print(list(df))

['Unnamed: 0', 'Unnamed: 0.1', 'Tact', 'Tsim', 'Pair', 'Tair', 'Tinlet', 'IM', 'TPint', 'TPext', 'PFcor', 'I_Pump', 'PO3', 'VMRO3', 'PO3_OPM', 'VMRO3_OPM', 'ADif_PO3S', 'RDif_PO3S', 'Z', 'Header_Team', 'Header_Sim', 'Header_PFunc', 'Header_PFcor', 'Header_IB1', 'Year', 'Sim', 'Team', 'Code', 'Flow', 'IB1', 'Cor', 'ENSCI', 'Sol', 'Buf', 'ADX', 'Simib', 'Teamib', 'Yearib', 'iB0', 'iB1', 'iB2', 'Simm', 'Teamm', 'Mspre', 'Mspost', 'Diff', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'I_OPM_jma', 'I_OPM_kom', 'PO3_calc', 'PO3_dqa', 'I_conv_slow', 'I_conv_slow_komhyr']

In [13]:
df[['Team','Sim','Mspre', 'Mspost']]

        Team  Sim   Mspre  Mspost
0          1  139  794.30  790.83
1          1  139  794.30  790.83
2          1  139  794.30  790.83
3          1  139  794.30  790.83
4          1  139  794.30  790.83
...      ...  ...     ...     ...
547627     2  165  629.67  627.62
547628     2  165  629.67  627.62
547629     2  165  629.67  627.62
547630     2  165  629.67  627.62
547631     2  165  629.67  627.62

[547632 rows x 4 columns]

In [15]:
df.Mspre.round(2)

0         794.30
1         794.30
2         794.30
3         794.30
4         794.30
           ...
547627    629.67
547628    629.67
547629    629.67
547630    629.67
547631    629.67
Name: Mspre, Length: 547632, dtype: float64

In [10]:
print(list(dfc))

['Unnamed: 0', 'Unnamed: 0.1', 'Sim', 'Team', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'ADX', 'Buf', 'PO3', 'PO3_OPM', 'Tsim', 'Pair', 'IM', 'I_OPM_kom', 'I_OPM_jma', 'PFcor', 'TPext', 'Tpump_cor', 'unc_Tpump_cor', 'unc_Tpump', 'Tpump_cor.1', 'unc_Tpump_cor.1', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'I_slow_conv_ib1_decay', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_ib1_decay', 'Ifast_minib0', 'Ifast_minib0_ib1_decay', 'Islow_conv', 'Ifast_deconv_ib1_decay', 'Ifast_minib0_deconv_sm10', 'Year', 'Unnamed: 0.1.1', 'index', 'Tact', 'Tair', 'Tinlet', 'TPint', 'I_Pump', 'VMRO3', 'VMRO3_OPM', 'ADif_PO3S', 'RDif_PO3S', 'Z', 'Header_Team', 'Header_Sim', 'Header_PFunc', 'Header_PFcor', 'Header_IB1', 'Simulator_RunNr', 'Date', 'Ini_Prep_Date', 'Prep_SOP', 'SerialNr', 'SerNr', 'Date_1', 'SondeAge', 'Solutions', 'Volume_Cathode', 'ByPass_Cell', 'Current_10min_after_noO3', 'Resp_Time_4_1p5_sec', 'RespTime_1minOver2min', 'Final_BG', 'T100', 'mlOvermin', 'T100_post', 'mlOverminp1', 'RespTime_4_1p5_sec_p1', 'RespTime_1minOver2min_microamps', 'PostTestSolution_Lost_gr', 'PumpMotorCurrent', 'PumpMotorCurrent_Post', 'PF_Unc', 'PF_Cor', 'BG', 'plog', 'Tcell', 'TcellC', 'Pw', 'massloss', 'Tboil', 'total_massloss', 'I_conv_slow', 'I_conv_slow_komhyr', 'IMminusIB0', 'tmp', 'IM_gsm', 'IMminusIB0_gsm', 'Islow', 'Ifast', 'Ifast_deconv', 'ADif', 'RDif', 'ADif_cor', 'RDif_cor', 'PO3_cor', 'ADif_pre', 'RDif_pre', 'ADif_pre_cor', 'RDif_pre_cor', 'IminusiB1', 'R', 'I_corrected', 'ADif_cal', 'RDif_cal']

In [14]:
df1 = pd.read_csv('/home/poyraden/Analysis/JOSIEfiles/Paper/2017/173_1.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 20, saw 23