In [3]:
import numpy as np
import pandas as pd

In [4]:
I=5.4

In [5]:
a = 9.67
b = -2.65

In [6]:
a2 = a/100
b2 = b/100
eta2 = 1 + a2 + b2*np.log10(1000)
print(eta2)

1.0172

In [ ]:
con2 =

In [16]:
eta3 = 1 + a2 + b2*np.log10(10)

In [17]:
Icor2 = I/eta2
print(Icor2)

5.3086905230043255

In [18]:
Icor3 = I/eta3
print(Icor3)

5.045785834423472

In [20]:
R2 = a + b*np.log10(1000)
Icor_r2 = I*(100/(100+R2))
print(Icor_r2)

5.308690523004326

In [21]:
R3 = a + b*np.log10(10)
Icor_r3 = I*(100/(100+R3))
print(Icor_r3)

5.045785834423473

In [23]:
df17 = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie2017_deconv_2023paper_ib2_sm_hv.csv", low_memory=False)

In [28]:
dft = df17.drop_duplicates(['Sim','Team'])[['Sim','Team','iB0','iB1','iB2']]

In [27]:
df17.iB1.min(),df17.iB1.max()

(0.0, 0.2)

In [31]:
dft[dft.iB2 <.1]

        Sim  Team   iB0   iB1   iB2
0       181     2  0.00  0.01  0.02
3501    179     1  0.01  0.03  0.03
7002    185     5  0.00  0.02  0.05
10503   175     1  0.00  0.02  0.02
11565   184     7  0.03  0.07  0.09
...     ...   ...   ...   ...   ...
278766  179     2  0.00  0.00  0.03
282267  181     1  0.00  0.01  0.03
285768  187     6  0.00  0.02  0.03
289270  185     6  0.08  0.14  0.09
292771  186     6  0.01  0.02  0.04

[83 rows x 5 columns]

In [35]:
df17[df17.IM > 0]['IM']

0         1.106230
1         1.107860
2         1.106220
3         1.103780
4         1.098900
            ...
296267    0.150183
296268    0.235246
296269    0.263736
296270    0.380952
296271    0.507936
Name: IM, Length: 296271, dtype: float64

In [36]:
df17.IM.min(), df17.IM.max()

(0.0, 9.68009)