In [1]:
import numpy as np
import pandas as pd

In [42]:
pre = '_sm_hv'

In [47]:
df1 = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/"
                    f"Josie0910_deconv_2023_unitedpaper{pre}.csv",low_memory=False)

In [48]:
print(list(df1))

['Unnamed: 0', 'Sim', 'Team', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'ADX', 'Buf', 'PO3', 'PO3_OPM', 'Tsim', 'Pair', 'IM', 'I_OPM_kom', 'I_OPM_jma', 'PFcor', 'TPext', 'Tpump_cor', 'unc_Tpump_cor', 'unc_Tpump', 'Tpump_cor.1', 'unc_Tpump_cor.1', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'I_slow_conv_ib1_decay', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_ib1_decay', 'Ifast_minib0', 'Ifast_minib0_ib1_decay', 'Islow_conv', 'Ifast_deconv_ib1_decay']

In [46]:
df2 = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_calibrated{pre}.csv",low_memory=False)

In [49]:
print(list(df2))

['Unnamed: 0', 'Unnamed: 0.1', 'Sim', 'Team', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'ADX', 'Buf', 'PO3', 'PO3_OPM', 'Tsim', 'Pair', 'IM', 'I_OPM_kom', 'I_OPM_jma', 'PFcor', 'TPext', 'Tpump_cor', 'unc_Tpump_cor', 'unc_Tpump', 'Tpump_cor.1', 'unc_Tpump_cor.1', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'I_slow_conv_ib1_decay', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_ib1_decay', 'Ifast_minib0', 'Ifast_minib0_ib1_decay', 'Islow_conv', 'Ifast_deconv_ib1_decay', 'Ifast_minib0_deconv_sm10', 'Year', 'Unnamed: 0.1.1', 'index', 'Tact', 'Tair', 'Tinlet', 'TPint', 'I_Pump', 'VMRO3', 'VMRO3_OPM', 'ADif_PO3S', 'RDif_PO3S', 'Z', 'Header_Team', 'Header_Sim', 'Header_PFunc', 'Header_PFcor', 'Header_IB1', 'Simulator_RunNr', 'Date', 'Ini_Prep_Date', 'Prep_SOP', 'SerialNr', 'SerNr', 'Date_1', 'SondeAge', 'Solutions', 'Volume_Cathode', 'ByPass_Cell', 'Current_10min_after_noO3', 'Resp_Time_4_1p5_sec', 'RespTime_1minOver2min', 'Final_BG', 'T100', 'mlOvermin', 'T100_post', 'mlOverminp1', 'RespTime_4_1p5_sec_p1', 'RespTime_1minOver2min_microamps', 'PostTestSolution_Lost_gr', 'PumpMotorCurrent', 'PumpMotorCurrent_Post', 'PF_Unc', 'PF_Cor', 'BG', 'plog', 'Tcell', 'TcellC', 'Pw', 'massloss', 'Tboil', 'total_massloss', 'I_conv_slow', 'I_conv_slow_komhyr', 'IMminusIB0', 'tmp', 'IM_gsm', 'IMminusIB0_gsm', 'Islow', 'Ifast', 'Ifast_deconv', 'ADif', 'RDif', 'ADif_cor', 'RDif_cor', 'PO3_cor', 'ADif_pre', 'RDif_pre', 'ADif_pre_cor', 'RDif_pre_cor', 'IminusiB1', 'R', 'I_corrected', 'ADif_cal', 'RDif_cal']

In [50]:
dfa = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_Deconv_preparationadded_all_2023paper{pre}.csv")

In [51]:
print(list(dfa))

['Unnamed: 0', 'Unnamed: 0.1', 'index', 'Tact', 'Tsys', 'Sim', 'TimeBool', 'TimeTag', 'IM', 'Team', 'I_OPM_kom', 'I_OPM_jma', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'Buf', 'ADX', 'Tsim', 'Pair', 'TPext', 'PFcor', 'PO3', 'PO3_OPM', 'Year', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'Time_ts', 'Time_all', 'Tsim_original', 'Tsim_pctime', 'PF', 'TS', 'IMminusIB0', 'Tsim_min', 'decay_time', 'tmp', 'IM_gsm', 'IMminusIB0_gsm', 'i_at_timeib1', 'time_ib1', 'start_flight', 'I_slow', 'I_slow_conv', 'I_fast', 'Ifast_minib0', 'Ifast_deconv', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_sm10', 'I_slow_conv_ib1_decay_all', 'I_fast_ib1_decay_all', 'Ifast_minib0_ib1_decay_all', 'Ifast_deconv_ib1_decay_all', 'Ifast_minib0_deconv_ib1_decay_all']

In [53]:
dfa[['Tsim','Tsim_original', 'Tsim_pctime','Ifast_minib0_deconv_ib1_decay_all']]

           Tsim  Tsim_original  Tsim_pctime  Ifast_minib0_deconv_ib1_decay_all
0           0.0            NaN        52684                           0.000000
1           2.0            NaN        52686                          -0.026359
2           4.0            NaN        52688                          -0.025909
3           7.0            NaN        52691                          -0.025736
4           9.0            NaN        52693                          -0.026245
...         ...            ...          ...                                ...
620636  12487.0        10436.0        69763                           0.157864
620637  12489.0        10438.0        69765                           0.156875
620638  12491.0        10440.0        69767                           0.156099
620639  12493.0        10442.0        69769                           0.155677
620640  12495.0        10444.0        69771                           0.155502

[620641 rows x 4 columns]

In [25]:
df = pd.read_csv("/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_preparationadded_2023paper.csv", low_memory=False)

In [26]:
print(list(df))

['Unnamed: 0', 'index', 'Tact', 'Tsys', 'Sim', 'TimeBool', 'TimeTag', 'IM', 'Team', 'I_OPM_kom', 'I_OPM_jma', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'Buf', 'ADX', 'Tsim', 'Pair', 'TPext', 'PFcor', 'PO3', 'PO3_OPM', 'Year', 'unc_Tpump', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'plog', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'Time_ts', 'Time_all', 'Tsim_original', 'Tsim_pctime']

In [27]:
df[['Tsim','Tsim_original', 'Tsim_pctime']]

           Tsim  Tsim_original  Tsim_pctime
0           0.0            NaN        52684
1           2.0            NaN        52686
2           4.0            NaN        52688
3           7.0            NaN        52691
4           9.0            NaN        52693
...         ...            ...          ...
637507  12487.0        10436.0        69763
637508  12489.0        10438.0        69765
637509  12491.0        10440.0        69767
637510  12493.0        10442.0        69769
637511  12495.0        10444.0        69771

[637512 rows x 3 columns]

In [21]:
df1 = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/"
                    f"Josie0910_deconv_2023_unitedpaper{pre}.csv",low_memory=False)

In [23]:
print(list(df1))

['Unnamed: 0', 'Sim', 'Team', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'ADX', 'Buf', 'PO3', 'PO3_OPM', 'Tsim', 'Pair', 'IM', 'I_OPM_kom', 'I_OPM_jma', 'PFcor', 'TPext', 'Tpump_cor', 'unc_Tpump_cor', 'unc_Tpump', 'Tpump_cor.1', 'unc_Tpump_cor.1', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'I_slow_conv_ib1_decay', 'Ifast_minib0_deconv', 'Ifast_minib0_deconv_ib1_decay', 'Ifast_minib0', 'Ifast_minib0_ib1_decay', 'Islow_conv', 'Ifast_deconv_ib1_decay']

In [24]:
df1[][['Tsim','Ifast_minib0_deconv_ib1_decay]]

           Tsim
0           0.0
1           2.0
2           4.0
3           6.0
4           8.0
...         ...
489652  10990.0
489653  10992.0
489654  10994.0
489655  10996.0
489656  10998.0

[489657 rows x 1 columns]

In [3]:
df2 = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_calibrated{pre}.csv", low_memory=False)

In [15]:
print(list(df2)[0:20])

['Unnamed: 0', 'Unnamed: 0.1', 'Sim', 'Team', 'iB0', 'iB1', 'iB2', 'ENSCI', 'Sol', 'ADX', 'Buf', 'PO3', 'PO3_OPM', 'Tsim', 'Pair', 'IM', 'I_OPM_kom', 'I_OPM_jma', 'PFcor', 'TPext']

In [16]:
print(list(df2)[20:40])

['Tpump_cor', 'unc_Tpump_cor', 'unc_Tpump', 'Tpump_cor.1', 'unc_Tpump_cor.1', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'Cpf_kom', 'unc_Cpf_kom', 'Cpf', 'unc_Cpf', 'Cpf_jma', 'unc_Cpf_jma', 'PFcor_kom', 'PFcor_jma', 'PO3_calc', 'PO3_dqa', 'I_slow_conv_ib1_decay']

In [17]:
print(list(df2)[40:60])

['Ifast_minib0_deconv', 'Ifast_minib0_deconv_ib1_decay', 'Ifast_minib0', 'Ifast_minib0_ib1_decay', 'Islow_conv', 'Ifast_deconv_ib1_decay', 'Ifast_minib0_deconv_sm10', 'Year', 'Unnamed: 0.1.1', 'index', 'Tact', 'Tair', 'Tinlet', 'TPint', 'I_Pump', 'VMRO3', 'VMRO3_OPM', 'ADif_PO3S', 'RDif_PO3S', 'Z']

In [18]:
print(list(df2)[60:80])

['Header_Team', 'Header_Sim', 'Header_PFunc', 'Header_PFcor', 'Header_IB1', 'Simulator_RunNr', 'Date', 'Ini_Prep_Date', 'Prep_SOP', 'SerialNr', 'SerNr', 'Date_1', 'SondeAge', 'Solutions', 'Volume_Cathode', 'ByPass_Cell', 'Current_10min_after_noO3', 'Resp_Time_4_1p5_sec', 'RespTime_1minOver2min', 'Final_BG']

In [19]:
print(list(df2)[80:100])

['T100', 'mlOvermin', 'T100_post', 'mlOverminp1', 'RespTime_4_1p5_sec_p1', 'RespTime_1minOver2min_microamps', 'PostTestSolution_Lost_gr', 'PumpMotorCurrent', 'PumpMotorCurrent_Post', 'PF_Unc', 'PF_Cor', 'BG', 'plog', 'Tcell', 'TcellC', 'Pw', 'massloss', 'Tboil', 'total_massloss', 'I_conv_slow']

In [20]:
print(list(df2)[100:])

['I_conv_slow_komhyr', 'IMminusIB0', 'tmp', 'IM_gsm', 'IMminusIB0_gsm', 'Islow', 'Ifast', 'Ifast_deconv', 'ADif', 'RDif', 'ADif_cor', 'RDif_cor', 'PO3_cor', 'ADif_pre', 'RDif_pre', 'ADif_pre_cor', 'RDif_pre_cor', 'IminusiB1', 'R', 'I_corrected', 'ADif_cal', 'RDif_cal']

In [7]:
df2[['Tsim']]

          Tsim
0        902.0
1        904.0
2        906.0
3        908.0
4        910.0
...        ...
271734  8092.0
271735  8094.0
271736  8096.0
271737  8098.0
271738  8100.0

[271739 rows x 1 columns]