In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [105]:
dff = pd.DataFrame({'A':[1,2,3,4,5,10,11,12,13,15,20,50,70,100]})
# pd.DataFrame({'A': [1,2,3,4,5,6,7,8,9])

In [106]:
dff

      A
0     1
1     2
2     3
3     4
4     5
5    10
6    11
7    12
8    13
9    15
10   20
11   50
12   70
13  100

In [113]:
dff['Am'] = dff['A']

In [114]:
dff

      A   Am
0     1    1
1     2    2
2     3    3
3     4    4
4     5    5
5    10   10
6    11   11
7    12   12
8    13   13
9    15   15
10   20   20
11   50   50
12   70   70
13  100  100

In [115]:
dff.loc[(dff.A > 5) & (dff.A < 20),'Am'] = np.nan

In [116]:
dff

      A     Am
0     1    1.0
1     2    2.0
2     3    3.0
3     4    4.0
4     5    5.0
5    10    NaN
6    11    NaN
7    12    NaN
8    13    NaN
9    15    NaN
10   20   20.0
11   50   50.0
12   70   70.0
13  100  100.0

In [94]:
dff.A.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
Name: A, dtype: bool

In [84]:
dff['num'] = series[1,2,3,4,5,20,50,70,100]

NameError: name 'series' is not defined

In [117]:
pre = '_sm_hv'
df = pd.read_csv(f"/home/poyraden/Analysis/JOSIEfiles/Proccessed/Josie0910_calibrated{pre}.csv", low_memory=False)

In [118]:
dft = df[(df.Sim == 137) & (df.Team ==3)]

In [67]:
# print(list(dft))

In [68]:
# (RT1: 475-375 hPa, RT2: 100-85hPa, RT3: 20-15 hPa, RT4: 6-5 hPa)

In [69]:
# dftt = df.drop(df[df.score < 50].index)

In [122]:
dft['Pairc'] = dft['Pair']
dft['IMc'] = dft['IM']

/home/poyraden/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/poyraden/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [129]:
dft.loc[((dft.Pair < 475) & (dft.Pair > 375)),'Pairc'] = np.nan
dft.loc[((dft.Pair < 475) & (dft.Pair > 375)),'IMc'] = np.nan

/home/poyraden/.local/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [130]:
dft[dft.Pair < 475][['Pair','Pairc','IM','IMc']]

            Pair    Pairc        IM      IMc
73454  472.72100      NaN  0.588522      NaN
73455  473.83700      NaN  0.538054      NaN
73456  474.95300      NaN  0.520146      NaN
73457  472.16300      NaN  0.463980      NaN
73458  469.96800      NaN  0.447700      NaN
...          ...      ...       ...      ...
76152    5.79725  5.79725  1.294260  1.29426
76153    5.80214  5.80214  1.295070  1.29507
76154    5.75988  5.75988  1.306470  1.30647
76155    5.76826  5.76826  1.299960  1.29996
76156    5.77664  5.77664  1.291820  1.29182

[2703 rows x 4 columns]

In [132]:
dfs = dft[['Pair','Pairc','IM','IMc']].interpolate()

In [136]:
dfs[dfs.Pair < 475][['Pair','Pairc','IM','IMc']][0:5]

          Pair       Pairc        IM       IMc
73454  472.721  473.924806  0.588522  0.600141
73455  473.837  470.525613  0.538054  0.598329
73456  474.953  467.126419  0.520146  0.596518
73457  472.163  463.727226  0.463980  0.594706
73458  469.968  460.328032  0.447700  0.592894

In [142]:
dfs2 = dft[['Pair','Pairc','IM','IMc']].interpolate(model='quadratic')

In [143]:
dfs2[dfs2.Pair < 475][['Pair','Pairc','IM','IMc']][0:5]

          Pair       Pairc        IM       IMc
73454  472.721  473.924806  0.588522  0.600141
73455  473.837  470.525613  0.538054  0.598329
73456  474.953  467.126419  0.520146  0.596518
73457  472.163  463.727226  0.463980  0.594706
73458  469.968  460.328032  0.447700  0.592894

In [40]:
dft2 = dft[((dft.Pair > 475) |(dft.Pair < 375)) & ((dft.Pair > 100) |(dft.Pair < 85))& ((dft.Pair > 20) |(dft.Pair < 15)) & ((dft.Pair > 6) |(dft.Pair < 5))]

In [43]:
dft2[dft2.Pair < 475]['Pair']

73484    371.94900
73485    372.60000
73486    373.25100
73487    373.90100
73488    371.62400
           ...
76097      6.02951
76098      6.01555
76099      6.02113
76100      6.02672
76104      6.00660
Name: Pair, Length: 2390, dtype: float64

In [46]:
dft2[dft2.Pair < 100]['Pair']

74373    84.37940
74374    84.65900
74375    84.93870
74376    83.24330
74377    83.48800
           ...
76097     6.02951
76098     6.01555
76099     6.02113
76100     6.02672
76104     6.00660
Name: Pair, Length: 1537, dtype: float64

In [10]:
dft[['Pair','Tsim','IM']]

            Pair    Tsim        IM
72853  995.60600   902.0  0.997557
72854  994.14200   904.0  0.993080
72855  994.63000   906.0  0.991452
72856  995.11800   908.0  0.989010
72857  993.89800   910.0  0.981684
...          ...     ...       ...
76152    5.79725  8092.0  1.294260
76153    5.80214  8094.0  1.295070
76154    5.75988  8096.0  1.306470
76155    5.76826  8098.0  1.299960
76156    5.77664  8100.0  1.291820

[3304 rows x 3 columns]

In [11]:
df[['Pair','Tsim','IM']]

             Pair    Tsim        IM
0       995.42300   902.0  0.981684
1       995.48400   904.0  0.978428
2       995.54500   906.0  0.978428
3       995.36200   908.0  0.981684
4       993.27100   910.0  0.980056
...           ...     ...       ...
271734    5.74974  8092.0  1.320310
271735    5.75044  8094.0  1.319900
271736    5.72530  8096.0  1.299960
271737    5.73298  8098.0  1.286930
271738    5.74066  8100.0  1.294260

[271739 rows x 3 columns]

In [20]:
start = df.at[df.first_valid_index(),'Pair']
end = df.at[df.last_valid_index(),'Pair']
print(start, end, df.Pair.max(), df.Pair.min())

995.423 5.74066 999.72 5.49373

In [37]:
start_value = 1000
end_value = 6
decrease_percent = 0.02

x_values = [start_value]
value = start_value

while value > end_value:
    value = value * (1 - decrease_percent)
    if value < end_value:
        value = end_value
    x_values.append(value)

print(x_values)

[1000, 980.0, 960.4, 941.192, 922.36816, 903.9207968, 885.8423808639999, 868.1255332467199, 850.7630225817854, 833.7477621301497, 817.0728068875467, 800.7313507497958, 784.7167237347999, 769.0223892601039, 753.6419414749017, 738.5691026454036, 723.7977205924956, 709.3217661806457, 695.1353308570327, 681.2326242398921, 667.6079717550942, 654.2558123199923, 641.1706960735925, 628.3472821521206, 615.7803365090781, 603.4647297788965, 591.3954351833186, 579.5675264796522, 567.9761759500592, 556.616652431058, 545.4843193824369, 534.5746329947881, 523.8831403348923, 513.4054775281945, 503.1373679776306, 493.074620618078, 483.21312820571643, 473.5488656416021, 464.07788832877003, 454.7963305621946, 445.7004039509507, 436.7863958719317, 428.05066795449306, 419.4896545954032, 411.0998615034951, 402.8778642734252, 394.82030698795666, 386.9239008481975, 379.18542283123355, 371.6017143746089, 364.1696800871167, 356.8862864853744, 349.7485607556669, 342.75358954055355, 335.8985177497425, 329.18054739474763, 322.5969364468527, 316.1449977179156, 309.8220977635573, 303.6256558082861, 297.5531426921204, 291.602079838278, 285.7700382415124, 280.05463747668216, 274.45354472714854, 268.96447383260556, 263.58518435595346, 258.31348066883436, 253.14721105545766, 248.0842668343485, 243.12258149766154, 238.26012986770832, 233.49492727035414, 228.82502872494706, 224.24852815044812, 219.76355758743915, 215.36828643569038, 211.06092070697656, 206.83970229283702, 202.7029082469803, 198.64885008204067, 194.67587308039984, 190.78235561879183, 186.96670850641598, 183.22737433628765, 179.5628268495619, 175.97157031257066, 172.45213890631925, 169.00309612819285, 165.62303420562898, 162.3105735215164, 159.06436205108608, 155.88307481006436, 152.76541331386306, 149.7101050475858, 146.7159029466341, 143.7815848877014, 140.90595318994738, 138.08783412614844, 135.32607744362548, 132.61955589475298, 129.9671647768579, 127.36782148132075, 124.82046505169433, 122.32405575066043, 119.87757463564722, 117.48002314293427, 115.13042268007558, 112.82781422647408, 110.5712579419446, 108.3598327831057, 106.19263612744359, 104.06878340489472, 101.98740773679683, 99.9476595820609, 97.94870639041967, 95.98973226261128, 94.06993761735906, 92.18853886501188, 90.34476808771164, 88.53787272595741, 86.76711527143826, 85.03177296600948, 83.33113750668929, 81.6645147565555, 80.03122446142439, 78.43059997219589, 76.86198797275198, 75.32474821329693, 73.81825324903099, 72.34188818405036, 70.89505042036936, 69.47714941196197, 68.08760642372273, 66.72585429524828, 65.39133720934332, 64.08351046515645, 62.80184025585332, 61.54580345073625, 60.314887381721526, 59.108589634087096, 57.92641784140535, 56.767889484577246, 55.6325316948857, 54.519881060987984, 53.42948343976823, 52.36089377097286, 51.3136758955534, 50.28740237764233, 49.28165433008948, 48.296021243487694, 47.330100818617936, 46.383498802245576, 45.455828826200666, 44.54671224967665, 43.65577800468312, 42.782662444589455, 41.927009195697664, 41.08846901178371, 40.266699631548036, 39.46136563891707, 38.67213832613873, 37.89869555961595, 37.14072164842363, 36.397907215455156, 35.66994907114605, 34.95655008972313, 34.25741908792867, 33.572270706170094, 32.90082529204669, 32.24280878620576, 31.59795261048164, 30.965993558272007, 30.346673687106566, 29.739740213364435, 29.144945409097147, 28.562046500915205, 27.9908055708969, 27.430989459478962, 26.882369670289382, 26.344722276883594, 25.817827831345923, 25.301471274719002, 24.795441849224623, 24.29953301224013, 23.813542351995327, 23.33727150495542, 22.87052607485631, 22.413115553359184, 21.964853242292, 21.525556177446163, 21.095045053897238, 20.673144152819294, 20.259681269762908, 19.854487644367648, 19.457397891480294, 19.068249933650687, 18.686884934977673, 18.31314723627812, 17.946884291552557, 17.587946605721505, 17.236187673607073, 16.89146392013493, 16.553634641732234, 16.22256194889759, 15.898110709919637, 15.580148495721243, 15.268545525806818, 14.963174615290681, 14.663911122984867, 14.37063290052517, 14.083220242514665, 13.801555837664372, 13.525524720911084, 13.255014226492863, 12.989913941963005, 12.730115663123744, 12.475513349861268, 12.226003082864043, 11.981483021206762, 11.741853360782626, 11.507016293566974, 11.276875967695634, 11.05133844834172, 10.830311679374885, 10.613705445787387, 10.401431336871639, 10.193402710134206, 9.989534655931521, 9.78974396281289, 9.593949083556632, 9.4020701018855, 9.21402869984779, 9.029748125850833, 8.849153163333817, 8.67217010006714, 8.498726698065797, 8.32875216410448, 8.162177120822392, 7.998933578405944, 7.838954906837825, 7.682175808701068, 7.528532292527046, 7.377961646676505, 7.230402413742975, 7.085794365468115, 6.944078478158753, 6.805196908595578, 6.669092970423666, 6.535711111015193, 6.404996888794889, 6.276896951018991, 6.151359011998611, 6.0283318317586385, 6]

In [22]:
98 - (98*0.02)

96.04

In [27]:
df.Pair[0:5], df['Pair'].shift()[0:5], df["Pair"].shift(-1)[0:5], df["Pair"].shift(1)[0:5],

(0    995.423
 1    995.484
 2    995.545
 3    995.362
 4    993.271
 Name: Pair, dtype: float64,
 0        NaN
 1    995.423
 2    995.484
 3    995.545
 4    995.362
 Name: Pair, dtype: float64,
 0    995.484
 1    995.545
 2    995.362
 3    993.271
 4    994.107
 Name: Pair, dtype: float64,
 0        NaN
 1    995.423
 2    995.484
 3    995.545
 4    995.362
 Name: Pair, dtype: float64)

In [29]:
df['pnew'] = df['Pair'] - (df['Pair'].shift()*0.02)

/home/poyraden/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
df[['Pair','pnew']]

             Pair        pnew
0       995.42300         NaN
1       995.48400  975.575540
2       995.54500  975.635320
3       995.36200  975.451100
4       993.27100  973.363760
...           ...         ...
271734    5.74974    5.634759
271735    5.75044    5.635445
271736    5.72530    5.610291
271737    5.73298    5.618474
271738    5.74066    5.626000

[271643 rows x 2 columns]