In [1]:
import pandas as pd

# create a new DataFrame
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
})

# add metadata to the DataFrame
df.meta_data = {
    'source': 'https://example.com/data.csv',
    'author': 'John Smith',
    'last_updated': '2023-06-19'
}

/home/poyraden/.local/lib/python3.7/site-packages/ipykernel_launcher.py:13: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  del sys.path[0]

In [3]:
df.meta_data

{'source': 'https://example.com/data.csv',
 'author': 'John Smith',
 'last_updated': '2023-06-19'}

In [4]:
df.to_csv('test.csv')

In [5]:
metadata = df.meta_data

In [6]:
print(metadata)

{'source': 'https://example.com/data.csv', 'author': 'John Smith', 'last_updated': '2023-06-19'}

In [7]:
metadata

{'source': 'https://example.com/data.csv',
 'author': 'John Smith',
 'last_updated': '2023-06-19'}

In [8]:
df = pd.DataFrame({'fruit':['apple','pear','banana'], 'price':[3,4,2]})

df.attrs = { 'description':'fruit prices in dollars per pound' }

In [9]:
df

    fruit  price
0   apple      3
1    pear      4
2  banana      2

In [10]:
df.to_csv('test2.csv')

In [11]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

In [12]:
df.attrs['metadata'] = {'author': 'John Doe', 'date': '2023-06-18'}

In [75]:
df
list(df)

['Title', 'Date', 'Names']

In [78]:
df=df.reset_index(drop=True)

In [80]:
df.set_index('Title')

        Date          Names
Title
Movie1  2010        Bob,Jim
Movie2  2020  Jim,Harry,Lou
Movie3  2009          Scott
Movie4  2019       Bill,Jim

In [72]:
df.to_csv('my_data.csv', include_index=True)

TypeError: to_csv() got an unexpected keyword argument 'include_index'

In [82]:
write_dict = {'Date=':20120101,'Sim_Nr=':172,'Manifold_Port_Nr=':7}

In [88]:
len(write_dict), write_dict['Date='], write_dict.items()

(3,
 20120101,
 dict_items([('Date=', 20120101), ('Sim_Nr=', 172), ('Manifold_Port_Nr=', 7)]))

In [16]:
import pandas as pd

df = pd.DataFrame(data={'Title': ['Movie1', 'Movie2', 'Movie3', 'Movie4'],
                        'Date': ['2010', '2020', '2009', '2019'],
                        'Names': ['Bob,Jim', 'Jim,Harry,Lou', 'Scott', 'Bill,Jim']})

some_string = "This is my list"
another_string = "It's Fun!"

print(some_string,"\n",another_string,"\n",df, file=open(r'file.txt', 'w' ))

In [17]:
print(some_string,"\n",another_string,"\n",df, file=open(r'file.csv', 'w' ))

In [18]:
dfr = pd.read_csv('file.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [19]:
df1 = pd.DataFrame()

In [22]:
df1['apple'] = [1,2,3]
df1['orange'] = [10,20,30]
df1['xyz'] = [1,1,1]

In [23]:
df1

   apple  orange  xyz
0      1      10    1
1      2      20    1
2      3      30    1

In [31]:
dft = pd.DataFrame()

In [32]:
dft['Date']=['01-10-2021']
dft['Serial'] = ['abcd']

In [66]:
dft.rset_index().T

AttributeError: 'DataFrame' object has no attribute 'rset_index'

In [63]:
dfn = dft.T.rename_axis(None, axis = 0)

In [69]:
dft = dft.set_index(['Date'])

In [70]:
dft.T

Date   01-10-2021
Serial       abcd

In [68]:
dft.set_index('Date').T

Date   01-10-2021
Serial       abcd

In [65]:
dfn.reset_index()

    index           0
0    Date  01-10-2021
1  Serial        abcd

In [59]:
print(dft.T[0])

Date      01-10-2021
Serial          abcd
Name: 0, dtype: object

In [41]:
dfm = pd.concat([df1, dft],ignore_index=False)

In [42]:
dfm

   apple  orange  xyz        Date Serial
0    1.0    10.0  1.0         NaN    NaN
1    2.0    20.0  1.0         NaN    NaN
2    3.0    30.0  1.0         NaN    NaN
0    NaN     NaN  NaN  01-10-2021   abcd

In [43]:
with open('aman.csv','w') as fout:
    fout.write('meta data\n:')
    dft.T.to_csv(fout)
    df1.to_csv(fout)